.navbar {
    background-color: var(--bright-yellow)!important;
    box-shadow: none!important;

}

.displayFlex {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.link {
    color: var(--light-red);
    cursor: pointer;
    font-weight: 600!important;
}

.link:hover {
    color: var(--white);
}