.logo-img{
    background-image: url('../../../assets/img/login.png');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.bold{
    font-weight: 600!important;
}

.btnBox {
    display: flex;
    justify-content: space-around;
}

.loginBtn {
    background-color: var(--bright-yellow)!important;
    box-shadow: none!important;
    padding: 10px 20px!important;
    border-radius: 10px!important;
}

.registerLink {
    font-weight: 500!important;
    text-decoration: none;
    color: var(--bright-pink);
}